<h1>@ViewBag.title</h1>

<form method="post">

    @if (User.IsInRole("Admin"))
    {

        @foreach (var game in ViewBag.games)
        {
            <input type="checkbox" name="gameIds" id="@game.ID" value="@game.ID" />
            <label for="@game.ID">@game.Title</label>
            <br />
        }
    }
    <input type="submit" value="Remove Selected Game(s)" />
</form>
