@model IList<GameReview.Models.ReviewGame>

<h2>@ViewBag.Game</h2>

<table class="table">

    <tr>
        <th>Game Title</th>
        <th>Review</th>
        <th>Rating</th>
    </tr>

    @foreach (var review in Model)
    {
        <tr>
            <td>@review.Game.Title</td>
            <td>@review.Review</td>
            <td>@review.Rating</td>
        </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>No reviews yet!</p>
}   

<p><a asp-controller="Review" asp-action="Add">Add Review</a></p>


    @*<ul>
        @foreach (var review in Model)
        {
            <li>
                <a asp-controller="Game" asp-action="Review" asp-route-id="@review.ID">@review.GameID</a>
            </li>

        }
    </ul>
    ViewData["Title"] = "Index";
}*@

